<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Mensaje</title>
</head>
<body>
    <h1>Detalle de Mensaje</h1>
    <p>Remitente: {{ mensaje.remitente.nombre_usuario }}</p>
    <p>Destinatario: {{ mensaje.destinatario.nombre_usuario }}</p>
    <p>Fecha de Envío: {{ mensaje.fecha_envio }}</p>
    <p>Contenido: {{ mensaje.contenido_mensaje }}</p>
    <p>Estado: {{ mensaje.estado }}</p>
    <a href="{% url 'mensaje_update' mensaje.pk %}">Editar</a>
    <form action="{% url 'mensaje_delete' mensaje.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'mensaje_list' %}">Volver a la lista</a>
</body>
</html>
