{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Eliminar Usuario</h2>
    <p>¿Estás seguro de que quieres eliminar a {{ usuario.nombre }} {{ usuario.apellido_paterno }} {{ usuario.apellido_materno }}?</p>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html>


{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Eliminar Usuario</h2>
    <p>¿Estás seguro de que quieres eliminar a {{ usuario.nombre }} {{ usuario.apellido_paterno }} {{ usuario.apellido_materno }}?</p>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</body>
</html> {% endcomment %}
