{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

  <title>Reloj Asistencia</title>
  <link rel="shortcut icon" href="{% static 'img/LOGO.JPG' %}" type="image/x-icon">
  
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <!-- External CSS -->
  <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <!-- BACKSTRETCH -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
  <script>
    $(function() {
      $.backstretch("{% static 'img/Diapositiva1.jpg' %}", {speed: 500});
      getTime(); // Iniciar la función para mostrar la hora
    });

    function getTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('showtime').innerHTML = h + ":" + m + ":" + s;
      setTimeout(function(){ getTime() }, 500); // Llamar recursivamente a la función cada medio segundo
    }

    function checkTime(i) {
      return i < 10 ? "0" + i : i;
    }
  </script>
</head>

<body>

<div class="container">
  <div id="showtime" class="text-center" style="font-size: 48px;"></div>
  
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="lock-screen">
        <h2><a data-toggle="modal" href="{% url 'login' %}"><i class="fa fa-lock"></i></a></h2>
        <p>Asistencia</p>
        <!-- Aquí puedes añadir contenido adicional si es necesario -->
      </div><!-- /lock-screen -->
    </div><!-- /col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
